requests
beautifulsoup4
html2text
jupyter 
ipykernel 
matplotlib 
numpy 
pandas 
reliability
typing
typing_extensions
streamlit
agent
dotenv
langgraph
langchain
langchain_google_genai
langchain_core
langchain_community
faiss-cpu
Ipython
fastapi
uvicorn
python-multipart
python-dotenv
pydantic
openpyxl
requests
statsmodels
